/* .btn-warning{
    position:relative;
    padding: 10px 20px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    line-height:1.5 ;
}
.btn-warning input{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform:scale(3) ;
    opacity:0%


} */
.upload{
    display: none;
}
label{
    color:white;
    height: 60px;
    width: 250px;
    background-color: #f5af09;
    position:absolute;
    margin: auto;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}